# Local: mongodb://127.0.0.1:27017/ofitech
# Atlas: mongodb+srv://USER:PASSWORD@cluster.xxxxx.mongodb.net/ofitech?retryWrites=true&w=majority
MONGODB_URI=mongodb://admin:Seguridad1234@45.65.189.170:27017/ofitech?authSource=admin
